/** ---- FONTS-LINE-HEIGHT ----- */

/** ---- FONT-FAMILY ----- */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/** ---- FONT-SIZE ----- */
$font-size-xxs: 10px;
$font-size-xs: 11px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-xxl: 20px;

/** ---- FONT-WEIGHT ----- */
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;