/* You can add global styles to this file, and also import other style files */

/** ---- THEME VARIABLES  ----- */
$body-background: color(light, background-01);
$body-text-color: color(dark, background-black);
$brand-color: color(semantic, primary);